[submodule "navigation"]
	path = navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "navigation_tutorials"]
	path = navigation_tutorials
	url = https://github.com/ros-planning/navigation_tutorials.git
